
.bodybg{
	background:url(https://i.redd.it/qwd83nc4xxf41.jpg);
	/* background: linear-gradient( 
            to right, #f32170, #ff6b08, 
             #cf23cf, #eedd44);  */
	
}

nav{
	box-shadow:0 8px 10px -5px rgba(0, 0, 0, 0.2);
	background-color:#25D366 ;
	/* background: linear-gradient( 
            to right, #f32170, #ff6b08, 
             #cf23cf, #eedd44);  */
}
/* home icon in navbar */
.fas{
  margin:auto;
  width:10px;
}
.alert{
	z-index:4;
}




/* STYLES FOR FORMS */
.delete-form{
	display: inline;
	width: 30%;
}

.usersearchform{
	margin: 3px auto auto 0px;
	width:80%;
	 margin-left: 0rem;
}
.usersearchform2{
	margin: 3px 4px auto 0px;
	width:100%;
	 margin-left: 0rem;
}

.postsearchform:hover {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 
                0 4px 25px 0px rgba(0, 0, 0, 0.12), 
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
	
	 transition: 0.4s;
}


/* MAIN PAGE */
.jumbotron{
	background: #ECE5DD; 
	  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
	            0 4px 25px 0px rgba(0, 0, 0, 0.12), 
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

/* .jumbotron:hover {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
	            0 4px 25px 0px rgba(0, 0, 0, 0.12), 
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
	 transition: 0.4s;
                
} */

#leftside {
		position:fixed;
		left:0px;
		top: 3em;
		width:300px;	
		height:100%;
		padding-left:1.5em;
	background:white;
	max-width:700px;
	transition: 0.5s;
	/* z-index:-1; */
	box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 
                0 4px 25px 0px rgba(0, 0, 0, 0.12), 
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
	
	}
/* #leftside:hover{
	box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 
                0 4px 25px 0px rgba(0, 0, 0, 0.12), 
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
} */
		
	#content {
	
		position:relative;
		padding:5px;
		margin-right:150px;
		/* margin-bottom:85px; */
		max-width:700px;
		
	}

.cardShadow {
  box-shadow:  0 16px 38px -12px rgba(0, 0, 0, 0.56),
                0 4px 25px 0px rgba(0, 0, 0, 0.12), 
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

   .posts {
    width: 100%;
	   height:80%;
    object-fit: cover;
}

/* USER PROFILE PAAGE */
#showpage{
	margin:auto;
	max-width: 700px;
}

.usercardShadow:hover {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 
                0 4px 25px 0px rgba(0, 0, 0, 0.12), 
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
	/* width:101%; */
	 transition: 0.4s;
	border: 2px  solid white;
}
.usercardShadow{
  width:100%;
}
#usershow{
   margin: auto;
  padding: 10px;
	max-width:700px;
	background:white;
	box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
	            0 4px 25px 0px rgba(0, 0, 0, 0.12), 
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.posts2 {
  width: 400px;
  height: 200px;
  object-fit: cover;
}

.info{
	background-color:#128C7E;
	color:white;
	
}
  
.fa-plus {
    font-size: 3.33333em;
   
   }
 

/* DARK MODE */

.bodybgdark{
	background:url(https://i.redd.it/ts7vuoswhwf41.jpg);
}
.navdark{
	box-shadow:0 8px 10px -5px rgba(0, 0, 0, 0.2);
	background-color: #0a0a0a;
	color:white;
}
.left {
		position:fixed;
		left:4px;
		top: 3em;
		width:300px;	
		height:100%;
		padding-left:1.5em;
	background:#363333;
	   color:white;
	max-width:700px;
	/* z-index:-1; */
	
	
	box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 
                0 4px 25px 0px rgba(0, 0, 0, 0.12), 
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
   
	
	}
.navbrand{
	color:red;
}
/* #usershowdark{
   margin: auto;
  padding: 10px;
	max-width:700px;
	background:white;
	box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
	            0 4px 25px 0px rgba(0, 0, 0, 0.12), 
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
} */





    








