<h1>
	you are i SECRET page
</h1>

<img src="https://getradiantlife.com/wp-content/uploads/2018/11/secret.jpg">

<li><a href="register">Sign Up</a></li>
<li><a href="login">Login!</a></li>
<li><a href="logout">Logout!</a></li>